service: cart
provider:
  name: aws
  runtime: nodejs4.3
  stage: dev
  region: us-east-1

functions:
  hello:
    handler: cart.create

events:
  - http:
      path: carts
      method: post

resources:
  Resources:
    Table:
      $ref: ./resources/table.json
